<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品信息</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/productPage.js"></script>
</head>
<body>
    <table cellspacing="0" border="2">
        <caption>商品信息表</caption>
        <tr align="center">
            <th>商品id</th>
            <th>商品名</th>
            <th>单价/元</th>
            <th>所售商店</th>
        </tr>
        <tbody id="productTable"></tbody>
    </table>
    <p>
        <button id="findBtn">查询所有</button>
    </p>
    <P>
        <button id="addBtn">添加</button>
    </P>
    <p>
        <button id="backBtn">返回</button>
    </p>
</body>
</html>