<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品编辑</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/productEdit.js"></script>
</head>
<body>
    <p>
        <span>商品名:</span>
        <input type="text" onblur="nameWarn()" id="name" style="width: 100px">
        <span id="nameInfo"></span>
    </p>
    <p>
        <span>单价:&nbsp&nbsp&nbsp</span>
        <input type="text" onblur="priceWarn()" id="price" style="width: 40px">
        <span id="priceInfo"></span>
    </p>
    <p>
        <button id="submitBtn">提交</button>
    </p>
    <p>
        <button id="backBtn">返回</button>
    </p>

</body>
</html>