<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑商店</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/storeEdit.js"></script>
</head>
<body>
    <p>
       商店名字: <input id="name" type="text" onblur="f1()">
        <span id="nameInfo"></span>
    </p>
    <p id="products">

    </p>
    <p>
        <button onclick="edit()">提交修改</button>
    </p>
    <p>
        <button onclick="window.location.href='/storePage'">返回</button>
    </p>
</body>
</html>